{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block full_content %}

{% block style %}

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock style %}

<div class="container">
		<div class="masthead">
			<h3>{{ project_name }}</h3>
		</div>
		<div class="row fs-head">
			<div class="col-md-6">
				<p><a class='like-btn' data-href='{{ instance.get_api_like_url }}' data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'>{{ instance.likes.count }} Like</a></p>
                <p>by <a href='/{{ instance.uid.username }}'> {{ instance.uid.first_name }} {{ instance.uid.last_name }}</a><br/></p>
                <p>
                    Average rate:
                    {% if project_rated == 0 %}
                    This project has not been rated.
                    {% else %}
                    {{ avg_rate }}
                    {% endif %}
                </p>
                <p>
                    {% if instance.status != "completed" %}
                    You can only rate after the project is completed.
                    {% elif rate_permission == 0 %}
                    Only users who pledged this project can rate.
                    {% elif already_rated == 1 %}
                    You have already rated this project.
                    {% else %}
                    <div class="col-xs-4">
                        <a class="btn btn-sm btn-success" href="{{ instance.get_project_rate }}"><i class="icon-ok"></i>Rate</a>
                    </div>
                    {% endif %}
                </p>
                {% if instance.files %}
                    Files:<a href='{{ instance.files.url }}'>{{ instance.files.url }}</a>
                {% endif %}
                {% if instance.image %}
    				<img src='{{ instance.image.url }}' class='img-responsive' />
    			{% endif %}

                <div class="row">
                    <p>Tags:</p>
                    {% for tag in instance.tags.all %}
                    <div class="col-xs-2">
                    <form method="POST" action="/projects/search/">
                        {% csrf_token %}
                        <input class="btn btn-success btn-flat" type="submit" name="tag" value="{{ tag.name }}" />
                    </form>
                    </div>
                    {% endfor %}

                </div>

			</div>

			<div class="col-md-6">
				<h2 class="slimtop text-center"><strong>{{ slogan }}</strong></h2>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project_percent }}%;">
					</div>
				</div>
				<div class="row">
                    <div class="col-md-3 text-center">
						<h1 class="slimtop">{{ project_minimum_amount }}</h1>
						<p class="lead">minimum amount</p>
					</div>
                    <div class="col-md-3 text-center">
						<h1 class="slimtop">{{ project_maximum_amount }}</h1>
						<p class="lead">maximum amount</p>
					</div>
					<div class="col-md-3 text-center">
						<h1 class="slimtop">{{ project_percent }}%</h1>
						<p class="lead">complete</p>
					</div>
					<div class="col-md-3 text-center">
						<h1 class="slimtop">{{ project_backers }}</h1>
						<p class="lead">backers</p>
					</div>
					<div class="col-md-3 text-center">
						<h1 class="slimtop">${{ project_amount_pledged }}</h1>
						<p class="lead">pledged of ${{ project_minimum_amount }}</p>
					</div>
					<div class="col-md-3 text-center">
						<h1 class="slimtop">{% if days >= 0 %}{{ days }}{% else %}0{% endif %}</h1>
						<p class="lead">day{% if days != 1 %}s{% endif %} left</p>
					</div>
				</div>
                {% if not request.user.is_authenticated %}
                <p>You need <a class="btn btn-lg btn-success" href="/login"><i class="icon-ok"></i>Log in</a> to pledge.</p>
                {% else %}
				{% if project_status == 'looking for funds' %}
				<a class="btn btn-lg btn-success btn-block" href="{{ instance.get_pledge_url }}"><i class="icon-ok"></i>Contribute Now</a>
				{% elif project_status == 'pledge succeeded' %}
				<a class="btn btn-lg btn-primary btn-block disabled" href=""><i class="icon-ok"></i>pledge succeeded</a>
				{% elif project_status == 'pledge failed' %}
				<a class="btn btn-lg btn-primary btn-block disabled" href=""><i class="icon-ok"></i>pledge failed</a>
				{% else %}
				<a class="btn btn-lg btn-primary btn-block disabled" href=""><i class="icon-ok"></i>Completed</a>
				{% endif %}
                {% endif %}
			</div>
		</div>
	</div>

<br>
<br>
{% block project_detail %}
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Description</a></li>
    <li><a href="#menu1">Comments</a></li>
    <li><a href="#menu2">Updates</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <br/>
      <p>{{ instance.description }}</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div>

        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        <hr/>
        {% for comment in comments %}

        <blockquote>
          <p>{{ comment.content }}</p>
          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
          <div class='comment-reply'>
              {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                </blockquote>
             {% endfor %}
             {% if request.user.is_authenticated %}
            <form method="POST" action="."> {% csrf_token %}
                {{ comment_form|crispy }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <input type='submit' value='Reply' class='btn btn-default'>
            </form>
            {% else %}
        <p>You must login to comment </p>
        {% endif %}
        </div>

        </blockquote>

        <hr/>
        {% endfor %}
    </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        {% for update in project_updates %}
        <p>{{ update.updates }}</p>
        <p>{{ update.created_at }}</p>
        {% endfor %}
    </div>

  </div>

</div>




{% endblock project_detail %}
{% endblock full_content %}