<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Pioneer Fund</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/pioneerfund.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script>
        $(document).ready(function () {
            function updateText(btn, newCount, verb) {
                btn.attr("data-likes", newCount)
                btn.text(newCount + " " + verb)

            }

            $(".like-btn").click(function (e) {
                e.preventDefault()
                var this_ = $(this)
                var likeUrl = this_.attr("data-href")
                var likeCount = parseInt(this_.attr("data-likes"))
                var addLike = likeCount + 1
                var removeLike = likeCount - 1
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data)
                            var newLikes;
                            if (data.liked) {
                                updateText(this_, addLike, "Unlike")
                            } else {
                                updateText(this_, removeLike, "Like")
                                // remove one like
                            }
                        }, error: function (error) {
                            console.log(error)
                            console.log("error")
                        }
                    })
                }

            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".post-detail-item img").each(function () {
                $(this).addClass("img-responsive");
            })

            var contentInput = $("#id_content");

            function setContent(value) {
                var markedContent = marked(value)
                $("#preview-content").html(markedContent)
                $("#preview-content img").each(function () {
                    $(this).addClass("img-responsive")
                })
            }

            setContent(contentInput.val())
            contentInput.keyup(function () {
                var newContent = $(this).val()
                setContent(newContent)
            })
            var titleInput = $("#id_title");

            function setTitle(value) {
                $("#preview-title").text(value)
            }

            setTitle(titleInput.val())
            titleInput.keyup(function () {
                var newContent = $(this).val()
                setTitle(newContent)
            })
            $(".comment-reply-btn").click(function (event) {
                event.preventDefault();
                $(this).parent().next(".comment-reply").fadeToggle();
            })
            // preview-title
            // preview-content
        })
    </script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="/explore.html">
    <link rel="alternate" type="application/rss+xml" title="CrowdFundr - by ExpressPixel" href="/feed.xml">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <!-- JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

    <link rel="stylesheet" href="/static/css/main.css">


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <ul class="nav navbar-nav left">

            <li><a href="/">Pioneer Fund</a></li>
            <li><a href="/projects/explore">Explore</a></li>
        </ul>


        <!-- Collect the nav links, forms, and other content for toggling -->

        {% if request.user.is_authenticated %}

        <ul class="nav navbar-nav left">

            <li><a href="/tohome">My Homepage</a></li>

            <li><a href="/home/project_create">Start a project</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">


            <li><a href="/logout">Logout</a></li>
            <li><a class="page-scroll" href="mailto:oumizxc@gmail.com">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right" method="POST" action="/projects/search/">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Search..." name="standard_search">
        </form>

        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Sign up</a></li>
            <li><a class="page-scroll" href="mailto:oumizxc@gmail.com">Contact</a></li>
        </ul>
        {% endif %}
        <!-- /.navbar-collapse -->
    </div>
</nav>

{% block search %}
<div class="mt-5">
    <div class="container inner">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Fund campaigns you love.</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <div class="row">
                    <form method="POST" action="/projects/search/">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <!-- Large button groups (default and split) -->
                            <label>Categories</label>
                            <select id="ddlCategories" name="categories">
                                <option value="allCategories">All categories</option>
                                {% for cate in categories %}
                                <option value="{{ cate.id }}">{{ cate.catename }}</option>
                                {% endfor %}
                            </select>


                        </div>
                        <div class="col-md-4">
                            <label>Project status</label>
                            <select id="ddlStatus" name="status">
                                <option value="allStatus" selected="selected">All status</option>
                                <option value="looking for funds">Looking for funds</option>
                                <option value="pledge succeeded">Pledge succeeded</option>
                                <option value="pledge failed">Pledge failed</option>
                                <option value="completed">Completed</option>
                            </select>

                        </div>
                        <div class="col-sm-4">
                            <div><input type="submit" class="btn btn-green btn-block btn-flat" value="Search"
                                        name="limit_search">

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>

        <br>
        <hr>
        <div id="filters" class="collapse in">


        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="row mt-2">

                    {% for obj in projects %}

                    <div class="col-sm-3 mb-4">
                        <div class="card box">
                            <a href="{{ obj.instance.get_project_detail }}">
                                <img src="{{ obj.image }}"
                                     class="img-fluid hidden-xs-down">

                            </a>
                            <div class="card-block"
                                 style="position: relative; padding-bottom: 60px; min-height: 250px;">

                                <h6><a href="{{ obj.instance.get_project_detail }}">{{ obj.pname }}</a></h6>
                                <p class="text-muted">By <strong><a href="/{{ obj.username }}" class="text-muted">{{ obj.first_name }} {{ obj.last_name }}</a></strong></p>
                                <p class="desc">{{ obj.description }}</p>

                                <div style="position: absolute; bottom: 10px; width: 86%; ">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ obj.percent }}%"
                                             aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-1">{{ obj.percent }}% funded</p>
                                </div>


                            </div>
                            <div class="card-footer text-muted">
                                <div class="row ">
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <p class="mt-0 mb-0">Backers</p>
                                                <h6 class="mt-0 mb-0"><strong>{{ obj.backers }}</strong></h6>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p class="mt-0 mb-0">Pledged</p>
                                                <h6 class="mt-0 mb-0"><strong>${{ obj.pledged_amount }}</strong></h6>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p class="mt-0 mb-0">Days&nbsp;Left</p>
                                                <h6 class="mt-0 mb-0"><strong>{% if obj.days >= 0 %}{{ obj.days }}{% else %}0{% endif %}</strong></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>


            <div class="mt-5 pt-2 pb-2">


            </div>
        </div>
    </div>
</div>
{% endblock search %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


<script>
    var eventTime = moment().add(8, 'hours'); // Timestamp - Sun, 21 Apr 2013 13:00:00 GMT
    var currentTime = 1366547400; // Timestamp - Sun, 21 Apr 2013 12:30:00 GMT
    var diffTime = eventTime - currentTime;
    var duration = moment.duration(diffTime * 1000, 'milliseconds');
    var interval = 1000;

    setInterval(function () {
        duration = moment.duration(duration - interval, 'milliseconds');
        $('#current_time').text(moment().format('MMMM Do YYYY, h:mma'));
    }, interval);
</script>


<script>


    var app = new Vue({
        el: '#navbar',
        data: {
            search: false
        },
        methods: {
            showSearchBar: function () {
                this.search = true;
            },
            hideSearchBar: function () {
                this.search = false;
            }
        }
    })

</script>


</body>
</html>
